* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

// VARIABLES //
$primary-color:white;
$secundary-color:red;
$body-color: rgb(5, 5, 5);
$font-body:"Bebas Neue", sans-serif;

%moviesflexcolumn{
    display: flex;
    flex-direction: column;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');